@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

body {background-color: black;}

.page {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: auto;}

#logo {
	animation: glitch 1s linear infinite;
    animation-direction: alternate;
	margin: auto;
	padding-top: 50px;
	display: flex;}

nav.main_nav {
	color: white;
	display: flex;
	order: 2;
	width: 100%;
	margin-top: -115px;
	z-index: 1;}

nav.main_nav ul {
	display: flex;
	margin: auto;}

nav.main_nav ul li {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 30px;
	margin: 15px;
}

nav.main_nav ul li a {
	color:whitesmoke;
	text-decoration:none;}

.main_nav ul li:hover {
	transform: scale(1.1)translate(0%, -10%);
	text-shadow:  -2px 4px 4px #eb452b, 
                  4px 10px 4px #017e7f;
}

.main_nav ul li:hover {
	animation: text-shadow 1s ease-in-out;}

.contact {
	color:whitesmoke;
	font-family: 'Barlow-light', sans-serif;
	font-size: 25px;
	text-align: center;
	margin:auto;
	margin-bottom: 100px;
	order: 3;}

.contact h1 {
	font-family: 'Barlow-bold', sans-serif;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 30px;
}

#email {
	color: whitesmoke;
}

#ambsound {
	background-color: gray;
	border-radius: 20px;
	text-align: center;
	margin-top: 50px;
	height: 20px;
}

.contenu {
	margin: auto;
	width: 70%;
	color: white;
	display: block;
	font-family: 'Barlow-regular', sans-serif; 
}

.contenu h1 {
	font-size: 120px;
	margin-top: 15px;
	margin-bottom: 30px;
	font-family: 'Barlow-bold', sans-serif;
	animation: glitch 1s linear infinite;
    animation-direction: alternate;
	text-shadow:  -2px 7px 30px #017e7f, 
                  10px 7px 8px #eb452b;
}

.contenu p {
	margin: 10px 0;
	font-size: 33px;
	text-align: justify;
}

span.titre {
	font-family: 'Barlow-bold', sans-serif;
}

.contenu  p.projets {
	margin-top: 50px;
	margin-bottom: 70px;
}


.contenu  p.portrait {
	width: 20%;
	float: left;
	margin-right: 50px;
	margin-top: 40px;
	margin-bottom: 16px;
	border-radius:15px;
}

#portrait {
	width: 20%;
	float: left;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 16px;
	border-radius: 15px;
}

#galactique {
	width: 23%;
	float: left;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 16px;
	border-radius: 15px;
	
}

#soundcloud {
	float: right;
	margin-bottom: 16px;
	margin-top: 20px;
	margin-left: 50px;
}

#clip {
	margin-top: 200px;
	margin-bottom: 100px;
	width: 100%;
	
}

#out {
	float: left;
	margin-right: 35px;
	border-radius: 20px;
	width: 30%;
}

#SSD {
	float: right;
	margin-left: 35px;
	border-radius: 20px;
	width: 30%;
}

#infox{
	width: 50%;
	float: right;
	margin-left: 30px;
}

#pyramix{
	float: left;
	margin-right: 35px;
	border-radius: 20px;
	width: 20%;
}
	
@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 4 #0c2ffb, 
            0 0 4 #2cfcfd, 
            0 0 4 #fb203b, 
            0 0 4 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 4 #0c2ffb, 
            0 0.25em 4 #2cfcfd, 
            0 -0.125em 4 #fb203b, 
            0 -0.25em 4 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 4 #0c2ffb, 
            0 -0.125em 4 #2cfcfd, 
            0 0.0625em 4 #fb203b, 
            0 0.125em 4 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 4 #0c2ffb, 
            0 0.0625em 4 #2cfcfd, 
            0 -0.03125em 4 #fb203b, 
            0 -0.0625em 4 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 4 #0c2ffb, 
            0 0 4 #2cfcfd, 
            0 0 4 #fb203b, 
            0 0 4 #fefc4b;
    }
}



@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}


